<mat-toolbar class="app-header"><span><a routerLink="/">EasySIGAA</a></span><span class="spacer"></span>
    <ul class="app-nav-items">
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/disciplinas" routerLinkActive="app-nav-items-active">Disciplinas</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/monitor" routerLinkActive="app-nav-items-active">Monitor</a>
      </li>
      <li *ngIf="userIsAuthenticated" class="disabled">
        <a mat-button routerLink="#" routerLinkActive="app-nav-items-active">Gerar grade</a>
      </li>
      <li *ngIf="userIsAuthenticated" class="disabled">
        <a mat-button routerLink="#" routerLinkActive="app-nav-items-active">Projetos de extensão</a>
      </li>
    </ul>
    <ul class="app-nav-user-options">
      <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/notificacoes" routerLinkActive="app-nav-user-options-active"><mat-icon>settings</mat-icon></a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="app-nav-user-options-active">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="app-nav-user-options-active">Sign-Up</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Sair</button>
      </li>
    </ul>

</mat-toolbar>