<mat-toolbar color="primary"><span><a routerLink="/">EasySIGAA</a></span><span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/monitor" routerLinkActive="active">Monitorar</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/notificacoes" routerLinkActive="active"><mat-icon>notifications</mat-icon></a>
    </li>

    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="active">Sign-Up</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar>