<mat-card class="config-form">
    <mat-card-header>
        <mat-card-title class="titulo">
            Preferências do usuário
        </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card">
        <mat-divider />
        <mat-form-field class="item">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field class="item">
            <mat-label>E-mail</mat-label>
            <input matInput [(ngModel)]="userEmail">
        </mat-form-field>
        <div class="quantidade-email">
            <mat-form-field class="item">
                <mat-label>Máximo de notificações diárias</mat-label>
                <input matInput [disabled]="!ativarNotificacoes" type="number" [(ngModel)]="maxNotificacoes">
            </mat-form-field>
            <mat-checkbox [(ngModel)]="ativarNotificacoes" color="primary" class="item quantidade-email-checkbox">Ativar notificações por email</mat-checkbox>
        </div>
        <mat-divider />
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="salvarConfiguracoes()">Alterar</button>
    </mat-card-actions>
</mat-card>