<div class="pages">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <mat-card *ngIf="!isLoading">
    <mat-card-header>
      <mat-card-title> Filtros </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="depto">
        <mat-label>Departamento</mat-label>
        <mat-select [(ngModel)]="filtroDepartamento">
          <mat-option value="">Selecione um departamento</mat-option>
          <mat-option
            *ngFor="let departamento of departamentos"
            [value]="departamento"
            >{{ departamento }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome do Professor</mat-label>
        <input matInput type="text" [(ngModel)]="filtroProfessor" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nome da disciplina</mat-label>
        <input matInput type="text" [(ngModel)]="filtroNome" /> </mat-form-field
      ><br />
      <button mat-raised-button color="primary" (click)="onChangeFilter()">
        Filtrar
      </button>
    </mat-card-content>
  </mat-card>

  <table mat-table *ngIf="!isLoading" [dataSource]="paginatedTurmas">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="disciplina">
      <th mat-header-cell *matHeaderCellDef>Disciplina</th>
      <td mat-cell *matCellDef="let element">
        <div class="disciplina">
          {{ element.codDisciplina }}
          {{
            element.nomeDisciplina.charAt(0) +
              element.nomeDisciplina.slice(1).toLowerCase()
          }}
        </div>
        <div class="disciplina-conteudo">
          Turma {{ element.codTurma }} - {{ element.professor }}
          {{ element.horario }}
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="vagasOcupadas">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        Vagas Ocupadas
      </th>
      <td mat-cell *matCellDef="let element" class="table-header">
        {{ element.vagasOcupadas }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="vagasTotal">
      <th mat-header-cell *matHeaderCellDef class="table-header">
        Vagas Total
      </th>
      <td mat-cell *matCellDef="let element" class="table-header">
        {{ element.vagasTotal }}
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="monitorar">
      <th
        mat-header-cell
        [hidden]="!userIsAuthenticated"
        *matHeaderCellDef
        class="table-header"
      >
        Monitorar
      </th>
      <td mat-cell *matCellDef="let turma" class="table-header">
        <mat-slide-toggle
          *ngIf="userIsAuthenticated"
          [disabled]="userIsAuthenticated ? 'false' : 'true'"
          [matTooltip]="
            userIsAuthenticated
              ? 'Monitorar vagas da disciplina'
              : 'Faça o login para monitorar vagas da disciplina'
          "
          (change)="onChangeMonitorar(turma._id)"
          [checked]="monitoradasCod.indexOf(turma._id) == -1 ? 'false' : true"
          color="primary"
        ></mat-slide-toggle>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    *ngIf="turmas.length > 0"
    [length]="totalTurmas"
    [pageSize]="turmasPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
  ></mat-paginator>
  <p class="info-text mat-body-1" *ngIf="turmas.length <= 0 && !isLoading">
    Sem turmas adicionadas
  </p>
</div>
