<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngIf="!isLoading">
  <mat-card-header>
    <mat-card-title> Filtros </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Departamento</mat-label>
      <mat-select [(ngModel)]="filtroDepartamento">
        <mat-option value="">Selecione um departamento</mat-option>
        <mat-option
          *ngFor="let departamento of departamentos"
          [value]="departamento"
          >{{ departamento }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome do Professor</mat-label>
      <input matInput type="text" [(ngModel)]="filtroProfessor" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nome da disciplina</mat-label>
      <input matInput type="text" [(ngModel)]="filtroNome" /> </mat-form-field
    ><br />
    <button mat-raised-button color="primary" (click)="onChangeFilter()">
      Filtrar
    </button>
  </mat-card-content>
</mat-card>

<mat-accordion multi="true" *ngIf="turmas.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let turma of paginatedTurmas">
    <mat-expansion-panel-header>{{
      turma.nomeDisciplina
    }}</mat-expansion-panel-header>
    <p>{{ turma.professor }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button
        *ngIf="monitoradasCod.indexOf(turma._id) == -1"
        mat-button
        color="primary"
        (click)="onMonitorar(turma._id)"
      >
        MONITORAR
      </button>
      <button
        *ngIf="monitoradasCod.indexOf(turma._id) > -1"
        mat-button
        color="warn"
        (click)="onDelete(turma._id)"
      >
        PARAR
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  *ngIf="turmas.length > 0"
  [length]="totalTurmas"
  [pageSize]="turmasPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
<!--
<mat-paginator
  *ngIf="turmas.length > 0"
  [length]="totalTurmas"
  [pageSize]="turmasPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)"
></mat-paginator>
-->
<p class="info-text mat-body-1" *ngIf="turmas.length <= 0 && !isLoading">
  Sem turmas adicionadas
</p>
