table {
  width: 60%;
  max-width: 100%;
  margin-bottom: 5px;
}

.tabela{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-column-disciplina {
  padding-left: 16px;
}

.mat-column-disciplina .turma {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 5px;
    flex: 0 0 50%;
}

.mat-column-vagas {
  font-style: italic;
}

.mat-column-acoes  {
  text-align: center;
}

.mat-column-acoes button {
  min-width: 32px;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: #3f51b5;
  color: #5268e6;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.mat-icon{
    transform: scale(1.2);
}

tr{
    height: 70px !important;
    max-height: 70px !important;
    overflow: hidden;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    display: table-row;
    overflow: hidden;
}

th{
    font-style: normal !important;
    font-size: 16px;
    max-height: 70px !important;

}

.pg{
    display: grid;
    grid-template-columns: 50fr 50fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 500px;
}

.grafico{
    width: 37.5vw;
}

.pages {
  width: 75%;
  margin: 1rem auto;
}