<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="monitoradas && !isLoading">
  <mat-expansion-panel *ngFor="let monitorada of monitoradas">
    <mat-expansion-panel-header>{{
      monitorada.turmaId.nomeDisciplina
    }}</mat-expansion-panel-header>
    <p>{{ monitorada.turmaId.professor }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button
        mat-button
        color="warn"
        (click)="onDelete(monitorada.turmaId._id)"
      >
        PARAR
      </button>
      <button
        mat-button
        (click)="updateChart(monitorada.turmaId._id, monitorada.turmaId.nomeDisciplina)"
        
      >
        gerar
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="showChart">
  <canvasjs-chart  [options]="chartOptions" [styles]="{width: '100%', height:'360px'}" (chartInstance)="getChartInstance($event)"></canvasjs-chart>     
</div>    
