<mat-spinner *ngIf="isLoading"></mat-spinner>
<h1 style="margin-top: 32px; font-weight: 500;">Monitor de disciplinas</h1>
<div class="pg" *ngIf="monitoradas && !isLoading">
  <div class="tabela" style="height: 100%">
    <table
      mat-table
      tabelaDisciplinas
      #tabelaDisciplinas

      [dataSource]="dataSource"
      *ngIf="monitoradas.length > 0"
    >
      <ng-container matColumnDef="disciplina">
        <th mat-header-cell *matHeaderCellDef>Disciplina</th>
        <td mat-cell *matCellDef="let turma">
          <div class="turma">{{ turma.nomeDisciplina }}</div>
          <div class="professor">{{ turma.professor }}</div>
        </td>
      </ng-container>

      <ng-container matColumnDef="vagas">
        <th mat-header-cell *matHeaderCellDef class="vagas">Vagas</th>
        <td mat-cell *matCellDef="let turma">
          {{ turma.vagasOcupadas }} / {{ turma.vagasTotal }}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let turma">
          <button mat-button color="warn" (click)="onDelete(turma._id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button
            mat-button
            (click)="updateChart(turma._id, turma.nomeDisciplina)"
          >
            <mat-icon>bar_chart</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>

<div class="grafico">
    <canvasjs-chart
      [options]="chartOptions"
      [styles]="{ width: '100%', height: '360px' }"
      (chartInstance)="getChartInstance($event)"
    ></canvasjs-chart>
  </div>
</div>
