<div class ="page-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <div class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Monitore novas vagas das matéris com apenas um click!</h1>
            <p class="hero-description">Receba notificação de novas vagas naquelas disciplinas que você não conseguiu se matricular por falta de vagas no período de matrícula! Assim, você poderá tentar pega-la novamente no período de matrícula vinculada.</p>
            <button class="cta-button" routerLink="/signup">Começar</button>
        </div>
            <img src="assets/Contactus.svg" width="50%" height="auto">
    </div>
    <div class="page-content">
        <h2>Como usar?</h2>
        <div class="usage">
            <div class="usage-sec">
                <div class="uasege-image"><img src="assets/Working Man.svg" width="360px" height="auto"></div>
                <div class="usage-instruction">
                    <h3>Filtre as matérias</h3>
                    <p class="usage-description">Entre na página de disciplinas e filtre as matérias que deseja, por departamento, professor e nome da disciplina.</p>
                </div>
            </div>
            <div class="usage-sec">
                <div class="usage-instruction">
                    <h3>Selecione-as para monitorar</h3>
                    <p class="usage-description">Depois de filtrar as matérias, ative seu monitoramento no toggle na seção "Monitorar" da tabela.</p>
                </div>
                <img src="assets/saves time working with our application.svg" width="360px" height="auto">
            </div>
            <div class="usage-sec">
                <img src="assets/Boy throwing a dart.svg" width="360px" height="auto">
                <div class="usage-instruction">
                    <h3>Monitorar</h3>
                    <p class="usage-description">Você poderá monitorar suas disciplinas na página "Monitorar". Lá você consegue visualizar o histórico de vagas das matérias monitoradas.</p>
                </div>
            </div>
            <div class="usage-sec">
                <div class="usage-instruction">
                    <h3>Notifições</h3>
                    <p class="usage-description">Você receberá notificaões sobre novas vagas por e-mail e também poderá visualizar no site, basta clicar no sininho!</p>
                </div>
                <img src="assets/New-notification.svg" width="360px" height="auto">
            </div>            
            <div class="usage-sec">
                <img src="assets/High five.svg" width="360px" height="auto">
                <div class="usage-instruction">
                    <h3>Sucesso!</h3>
                    <p class="usage-description">Agora que você sabe turdo isso, nunca mais perderá uma vaga nova naquela matéria concorrida.</p>
                    <button class="cta-button-minor" routerLink="/signup">Começar</button>
                </div>
            </div>
        </div>
    </div> 
</div>
